h1 {
    font-family: sans-serif;
}

#header {
    height: 100px;
    width: 100%;
    display: block;
}

#logo {
    height: 70px;
    width: auto;
    padding: 1%;
    margin-left: 40px;
}

.row {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
}

.noMargin {
    align-items: stretch;
    margin: 0;
    vertical-align: bottom;
}

#introduction_icons {
    display: flex;
}

#down {
    height: 30px;
    width: 30px;
    text-align: center;
    animation-duration: 1s;
}

#downAni {
    margin-top: 30px;
    display: block;
}

#parallelism, #concurrency {
    margin-top: 50px;
}

#house, #person, #truck {
    vertical-align: bottom;
}

#house {
    width: 150px;
    height: auto;
}

#person {
    width: 70px;
    height: auto;
}

#truck {
    width: 150px;
    height: auto;
}
