h1 {
    font-family: sans-serif;
}

body {
    width: 100%;
}

html {
    overflow-x: hidden; }

#header {
    height: 100px;
    width: 100%;
    display: block;
}

#header, #main, #introduction, #background, #sequential, #concurrency, #parallelism, #compare {
    margin-left: 5%;
    margin-right: 5%;
}

#logo {
    height: 70px;
    width: auto;
    padding: 1%;
    margin-left: 40px;
}

#parallelism_vis .btn-floating {
    text-align: right;
}

.row {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
}

.noMargin {
    align-items: stretch;
    margin: 0;
    vertical-align: bottom;
}

#introduction_icons {
    display: flex;
}

#team > h3 {
    margin-bottom: 60px;
}

#team {
    background-color: rgba(229, 241, 249, .3);
    margin-bottom: 0;
    padding-bottom: 60px;
}

#down {
    height: 30px;
    width: 30px;
    text-align: center;
    animation-duration: 1s;
}

#downAni {
    margin-top: 30px;
    display: block;
}

#parallelism, #concurrency {
    margin-top: 50px;
}

#house, #person, #truck {
    vertical-align: bottom;
}

#house {
    width: 150px;
    height: auto;
}

#person {
    width: 70px;
    height: auto;
}

#truck {
    width: 150px;
    height: auto;
}

.name > h4 {
    margin-bottom: 2px;
}

@media screen and (min-width: 1400px) {
	.responsive-img {
        max-width: 280px !important;
    }
    .name  h4,  .name  p {
        padding-left: calc( (100% - 280px) / 2)
    }

    #header, #main, #introduction, #background, #sequential, #concurrency, #parallelism, #compare {
        margin-left: 10%;
        margin-right: 10%;
    }
}
